@{
    ViewData["Title"] = "Productos";
}
<h1>Productos </h1>


<div id="app">

    <!-- Lista de Productos-->
    <div id="cargando">
        <img src="https://i.pinimg.com/originals/4e/b6/97/4eb697b60cf8d2ac12de99e12a444362.gif" />
    </div>

</div>
